<%-
  images = Image.where(duplicate: true).paginate(
            page: params[:page],
            per_page: Settings.images_per_page
          )
-%>
<%- unless images.empty? -%>
<%= erb :_paginator, locals: {images: images} %>

<div class="row mt-1">
  <%= erb :_image_cards, locals: {images: images, show_path: true} %>
</div>

<%= erb :_paginator, locals: {images: images} %>
<%- end -%>
