<%-
  images = Image.where(favorite: true).order(image_name: :asc).paginate(
            page: params[:page],
            per_page: Settings.images_per_page
          )
-%>
<%- unless images.empty? -%>
<%= erb :_paginator, locals: {images: images} %>

<div class="row mt-1">
  <%= erb :_image_cards, locals: {images: images} %>
</div>

<%= erb :_paginator, locals: {images: images} %>
<%- end -%>

<script type="text/javascript">
  function addFavorite(elem) {
    var md5 = elem.value;
    $.post("/favorite/" + md5, { favorite: false }, function(result){});
    return false;
  }
</script>
